@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: enedis;
  src: url(../../public/assets/fonts/enedis.woff);
}

*{
  font-family: enedis !important;
}

.book_title{
  font-family: "enedis";
}

.scrolled {
  background-color: #149163 !important;
  border-color: #149163 !important;
}

.playbtn {
    animation: shadow-pulse 1.5s infinite;
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 #535efc;
    }
    70% {
      box-shadow: 0 0 0 25px rgba(255, 50, 156, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 50, 156, 0);
    }
  }

  .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
    opacity: 1;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}
.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 78.25%;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.tempslist {
  list-style-type: none;
  padding-left: 0;
}
.tempslist li:before {
  content: "";
  display: block;
  float: left;
  height: 6px;
  width: 6px;
  border-radius: 100px;
  margin-top: 8.5px;
  background: #1523dc;
  font-size: 1.2em;
  margin-right: 0.5em;
}

.next_button{
  background: #1523dc !important;
  color: white !important;
  border: 1px solid #1523dc !important;
}
.next_button:hover{
  background: white !important;
  color: #1523dc !important;
  border: 1px solid #1523dc !important;
}

.back_button{
  background: #7a7d7e !important;
  color: white !important;
  border: 1px solid #7a7d7e !important;
}
.back_button:hover{
  background: white !important;
  color: #7a7d7e !important;
  border: 1px solid #7a7d7e !important;
}