@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-underline {
  position: relative;
}
.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 15;
  left: 0;
  @apply bg-[#1523dc];
  transition: width 0.3s ease-in-out;
}
.animated-underline:hover::after {
  width: 100%;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Hide scrollbar for modern browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.active-button {
  color: white;
  padding: 15px 50px;
  background: linear-gradient(to right, #2575fc, #6a11cb);
  border: solid 1px transparent;
  border-radius: 0.5rem;
}

/* Styles for inactive button */
.inactive-button {
  color: #1523dc;
  padding: 15px 50px;
  background: white;
  border: solid 1px #ebf2fb;
  border-radius: 0.5rem;
}

.next_button {
  background: #1523dc !important;
  color: white !important;
  border: 1px solid #1523dc !important;
}
.next_button:hover {
  background: white !important;
  color: #1523dc !important;
  border: 1px solid #1523dc !important;
}

.back_button {
  background: #7a7d7e !important;
  color: white !important;
  border: 1px solid #7a7d7e !important;
}
.back_button:hover {
  background: white !important;
  color: #7a7d7e !important;
  border: 1px solid #7a7d7e !important;
}

.tempslist {
  list-style-type: none;
  padding-left: 0;
}
.tempslist li:before {
  content: "";
  display: block;
  float: left;
  height: 6px;
  width: 6px;
  border-radius: 100px;
  margin-top: 8.5px;
  background: #1523dc;
  font-size: 1.2em;
  margin-right: 0.5em;
}

.active {
  font-size: 1.3rem !important;
  /* @apply text-[#1523dc]; */
  /* @apply !text-xl;
  @apply size-8; */
  font-weight: bold;
}

.viab:hover {
  transform: translate(0, -10px) !important;
}
.viab2:hover {
  box-shadow: 2px -3px 132px -59px rgba(0, 173, 131, 0.75) !important;
  transform: translate(0, -10px) !important;
}

.animated-underline {
  position: relative;
}
.animated-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1623dc; /* Border color */
  transition: width 0.3s ease-in-out;
}
.animated-underline:hover::after {
  width: 100%;
}

.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 1.5s ease;
}
.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-out {
  animation: zoomOut 1s forwards;
}

.zoom-in {
  animation: zoomIn 1s forwards;
}

.card-timline-item:hover {
  background-color: #1523dc !important;
  .font-bold {
    color: white !important;
  }
  .font-caveat {
    color: white !important;
  }
}

/* MARQUEE SLIDING CSS */

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  width: max-content;
  /* Prevent logos from wrapping to the next line */
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  min-width: calc(100% / var(--items-per-page));
  box-sizing: border-box;
  height: 80px;
  width: 140px;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container {
  animation: scroll 40s linear infinite;
}


/* General Row Styling */
.row {
  position: relative;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Animation for top row moving down */
.row.top-row.move-down {
  transform: translateY(100px);
}

/* Animation for bottom row moving up */
.row.bottom-row.move-up {
  transform: translateY(-100px);
}

/* Fix spacing issue */
tbody {
  /* display: block; */
  /* position: relative; */
}
